.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 35px;
  border-radius: 20px;
  max-width: 500px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
}

.exitButton {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modalContent .select {
  width: 100%;
}

.modalContent .options {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 25px;
}

.modalContent .option {
  list-style-type: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.modalContent input {
  box-sizing: border-box;
  background-color: var(--color-gray2);
  border: none;
  padding: 15px 18px;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  caret-color: var(--block-main-color);
}

.modalContent textarea {
  box-sizing: border-box;
  background-color: var(--color-gray2);
  padding: 15px 18px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  height: 100px;
  resize: vertical;
  caret-color: var(--block-main-color);
}

