.resultArea {
  width: 30%;
  margin: 20px;
  padding: 20px;
  height: auto;
  position: absolute;
  right: 10%;
  display: inline-flex;
  flex-direction: column;
  background-color: var(--color-gray1);
  border-radius: 10px;
  gap: 10px;
}