.container {
    margin: 0 auto;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.title {
    color: var(--black);
}

.typeContainer {
    display: flex;
    flex-direction: row;
}

.type {
    width: 100%;
    margin: 10px;
    height: auto;
    background-color: var(--gray-2);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px var(--gray-3);
    cursor: pointer;
}

.type:hover {
    box-shadow: 0px 0px 10px 0px var(--logo--purple-2);
}