.container {
    margin: 0 auto;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 80%;
    align-items: center;
}

.title {
    background: linear-gradient(to right, #AE73DC, #7572E3);
    color: transparent;
    -webkit-background-clip: text;
}

@media screen and (max-width: 1200px) {
    .title {
      font-size: 45px;
    }
}

.typeContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}
