.title {
    margin-top: 15vh;

    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.categoryContainer {
    display: flex;
    gap: 10px;
    margin: 1vh;

    align-items: center;
    justify-content: center;
}

.categoryButton {
    border-radius: 10px;
    border: 1.5px solid #5A5A5A;
    padding: 5px 10px;
    background-color: #fff;
    cursor: pointer;

    color: #5A5A5A;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.active {
    border-radius: 10px;
    border: 1px solid #543FD6;
    background-color: #543FD6;

    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.buttonSection {
    display: flex;
    width: 65vw;
    padding: 1vw;
    justify-content: right;

    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.stateButton {
    display: flex;
    gap: 1vw;
    cursor: pointer;
}