.container {
  margin: 30px;
  width: 100%;
}
.combinationArea {
  flex-grow: 1;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10) inset;
}

.title {
  margin: 10px;
}

.categoryList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.categoryItem {
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.categoryValue {
  display: flex;
  align-items: center;
}

.emptyValue {
  color: var(--color-gray5);
  font-style: italic;
}


.draggingOver {
  background-color: #e6f7ff;
  border: 2px dashed #1890ff;
}

.categoryValue {
  display: flex;
  align-items: center;
  justify-content: center;
}
