.title {
    margin-top: 15vh;

    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.searchBarSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    padding: 1vh 1vw;
    width: 45vw;
    height: 3vh;
    margin: 3vh;
    border-radius: 100px;
    border: 1px solid #F4F4F4;
    background: #FFF;
    box-shadow: 0 0.5vw 1vh 0 rgba(242, 242, 242, 0.88);

    color: #5A5A5A;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.categoryContainer {
    display: flex;
    gap: 10px;
    margin: 1vh;

    align-items: center;
    justify-content: center;
}

.categoryButton {
    border-radius: 10px;
    border: 1.5px solid #5A5A5A;
    padding: 5px 10px;
    background-color: #fff;
    cursor: pointer;

    color: #5A5A5A;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.active {
    border-radius: 10px;
    border: 1px solid #543FD6;
    background-color: #543FD6;

    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.buttonSection {
    display: flex;
    width: 65vw;
    padding: 1vw;
    justify-content: space-between;

    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.writeButton {
    display: flex;
    padding: 0.5vh 1vw;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border-radius: 20px;
    border: 1.5px solid #5A5A5A;
    background: #FFF;

    color: #5A5A5A;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}