.wrapper {
    width: 20vw;
    height: 30vh;
    border-radius: 2vw;
}

.wrapper:hover .card {
    transform: rotateY(180deg);
}

.card {
    text-align: center;
    width: 20vw;
    height: 30vh;
    border-radius: 2vw;
    box-shadow: 0 0 5px -1px;
    transition: all 0.7s;
    perspective-origin: center;
    transform-style: preserve-3d;
    cursor: pointer;
}

.containerFront {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    width: 20vw;
    height: 30vh;
    border-radius: 2vw;
    position: absolute;
    backface-visibility: hidden;
    z-index: 2;
    background-color: white;
}

.typeSection {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 2vh 2vw 2vh auto;
}

.typeText {
    color: #5a5a5a;
    text-align: center;
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 600;
    line-height: 9.825px; /* 120% */
}

.categorieSection {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 3vh;
    padding: 0 0.7vw 0 0.7vw;
    border-radius: 0.3vw;
    background: #543fd6;

    color: #fff;
    font-size: 1vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.descriptionSection {
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.explainSection {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    height: 20vh;
}

.backExplainSection {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1vh;

    height: 16vh;
    width: 16vw;

    border-radius: 15px;
    border: 0.424px solid #5a5a5a;
    background: var(--white, #fff);

    padding: 2vh;
}

.userSection {
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likeSection {
    display: flex;
    align-items: center;
}

.likeText {
    color: #000;
    text-align: center;

    font-size: 0.8vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.containerBack {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    width: 20vw;
    height: 30vh;
    border-radius: 2vw;
    position: absolute;
    transform: rotateY(180deg);
    z-index: 1;
    background-color: white;
}

.promptPreviewContainer {
    overflow: auto;
}

.promptPreviewContainer::-webkit-scrollbar {
    width: 10px;
}
.promptPreviewContainer::-webkit-scrollbar-thumb {
    background-color: #543fd6;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.promptPreviewContainer::-webkit-scrollbar-track {
    background-color: rgba(84, 63, 214, 0.5);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
