.backGround {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promptContainer {
    width: 70vw;
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: space-between;
}
