.active {
    border-radius: 10px;
    border: 1px solid #543FD6;
    background-color: #543FD6;

    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.stateButton {
    display: flex;
    gap: 1vw;
    cursor: pointer;
}