.headerContainer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6vh;
    background-color: var(--white);
    z-index: 10;
}

.logoContainer {
    grid-column: 1;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    padding-left: 20px;
}

.navContainer {
    grid-column: 2;
    justify-self: end;

    margin-right: 1vw;

    height: 100%;

    display: flex;
    align-items: center;
    gap: 1vw;

    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.navContainer a {
    text-decoration: none;
    color: black;
}

.buttonClick {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    height: 100%;
    width: fit-content;
    cursor: pointer;
}
