.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    height: 100%;
}

.button {
    width: 5vw;
}

.expandableSection {
    position: absolute;
    top: 100%;
    left: 0;
    width: 97px;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
    z-index: 1;
}

.expanded {
    display: flex;
    height: 10vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;

    background: #fff;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}
