.container {
  width: 100%;
}
.categoryContainer {
  display: flex;
  justify-content: center;
  padding: 6px;
  gap: 10px;
}
  
  .categoryButton {
    padding: 5px 10px;
    border: 1px solid var(--gray-4);
    background-color: #fff;
    cursor: pointer;
    border-radius: 6px;
    padding: 5px 10px;
    color: var(--gray-6);
  }
  
  .active {
    background-color: var(--main_color); /* 선택된 버튼 배경색 */
    color: var(--white);
    border: 1px solid var(--main_color);
  }
  
  .promptListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }