.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.scrollContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chattingListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 95%;
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.empty img {
    width: 35px;
}
