.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.scrollContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    width: 100%;
}

.chattingListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 95%;
}
