.listContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: auto;

    width: 80%;
    height: 20vh;

    overflow: auto;
}

.listContainer::-webkit-scrollbar {
    width: 10px;
}
.listContainer::-webkit-scrollbar-thumb {
    background-color: #543FD6;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.listContainer::-webkit-scrollbar-track {
    background-color: rgba(84, 63, 214, 0.5);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}