:root {
    --white: #FFFFFF;
    --black: #000000;
    --block-main-color: #543FD6;
    --block-purple: #943FD6;
    --block-pink: #EE5595;
    --block-red: #F83600;
    --block-orange: #FF8A00;
    --block-green: #1CCF4E;
    --logo-purple2: #8D87EC;
    --logo-purple1: #E1E2FF;
    --color-gray1: #F7F7F7;
    --color-gray2: #F4F4F4;
    --color-gray3: #DBDBDB;
    --color-gray4: #B0B0B0;
    --color-gray5: #878787;
    --color-gray6: #5A5A5A;
    --color-gray7: #393939;
    --color-gray8: #202020;
    --color-gray9: #121212;
  }