:root {
    --font-family-primary: 'inter', sans-serif;
    --font-size-60: 60px;
    --font-size-40: 40px;
    --font-size-32: 32px;
    --font-size-26: 26px;
    --font-size-24: 24px;
    --font-size-20: 20px;
    --font-size-18: 18px;
    --font-size-16: 16px;
    --font-size-14: 14px;
    --font-size-12: 12px;
    --font-size-10: 10px;
    --font-size-8: 8px;

    /* Font weights */
    --font-weight-800: 800;
    --font-weight-600: 600;
    --font-weight-500: 500;
}

.h1 {
    font-size: var(--font-size-60);
    font-weight: var(--font-weight-800);
}

.h2 {
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-800);
}

.h3 {
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-800);
}

.h4 {
    font-size: var(--font-size-26);
    font-weight: var(--font-weight-800);
}

.h5 {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-600);
}

.h6 {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-600);
}

.h7 {
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-600);
}

.b1 {
    font-size: var(--font-size-26);
    font-weight: var(--font-weight-500);
}

.b2 {
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-500);
}

.b3 {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-500);
}

.b4 {
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-500);
}

.b5 {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-500);
}

.b6 {
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-500);
}

.b7 {
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-500);
}

.b8 {
    font-size: var(--font-size-10);
    font-weight: var(--font-weight-500);
}

.b9 {
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-500);
}
